.enrtyPoint
{
    
    
}
.searchBox
{
    display: flex;
    width: 50vw;
    margin: 0 2vw;
}
.brandName
{
    font-weight: bold;
    text-align: center;
    width: 10vw;
}
.loginButton
{
    width: 94%;
    margin: auto;
    
    margin-bottom: 6vh;
}

@media only screen and (max-width: 768px) {  
    
    .searchBox
    {
        display: flex;
        width: 60vw;
        margin: 0 ;
    }

}  